{% extends "global/base.html" %}
{% block texto %} 

<div class="container mt-5">
    <h1 class="text-center">Ceras</h1>
    <div class="row mt-4">
        <!-- Produto 1 -->
        <div class="col-md-4">
            <div class="card">
                <img src="/static/global/img/cera1.webp" class="card-img-top" alt="Produto 1">
                <div class="card-body">
                    <h5 class="card-title">Cera de Abelha e Bombom de Pólen Kit! + Frete Grátis!</h5>
                    <p class="card-text">Bombom de pólen cera mista são extremamente importantes para a manutenção alimentar de seus enxames, durante todo ano, principalmente nas transferências, divisões, e no período de escassez das flores.</p>
                    <p class="text-muted">Preço: R$ 146,00</p>
                    <a href="https://produto.mercadolivre.com.br/MLB-1338374517-cera-de-abelha-e-bombom-de-polen-kit-frete-gratis-_JM" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <!-- Produto 2 -->
        <div class="col-md-4">
            <div class="card">
                <img src="/static/global/img/cera2.webp" class="card-img-top" alt="Produto 2">
                <div class="card-body">
                    <h5 class="card-title">Cera Mista Apis/asf 250g Em Barra</h5>
                    <p class="card-text">A cera mista, Apis/Asf, é uma mistura entre as duas ceras, de abelha africanizada e a abelha sem ferrão, ela pode ser usada no processo de transferência, divisão e estações de mais frio, junto com o bombom de pólen são extremamente importantes pra ajudar as Asf em seu desenvolvimento.</p>
                    <p class="text-muted">Preço: R$ 89,00</p>
                    <a href="https://produto.mercadolivre.com.br/MLB-1692407268-cera-mista-apisasf-250g-em-barra-_JM" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <!-- Produto 3 -->
        <div class="col-md-4">
            <div class="card">
                <img src="/static/global/img/cera2.webp" class="card-img-top" alt="Produto 3">
                <div class="card-body">
                    <h5 class="card-title">500g De Cera Mista Apis/asf Em Barra</h5>
                    <p class="card-text">A cera mista, Apis/Asf, é uma mistura entre as duas ceras, de abelha africanizada e a abelha sem ferrão, ela pode ser usada no processo de transferência, divisão e estações de mais frio, é importante pra ajudar as Asf em seu desenvolvimento.</p>
                    <p class="text-muted">Preço: R$ 146,00</p>
                    <a href="https://produto.mercadolivre.com.br/MLB-1397349110-500g-de-cera-mista-apisasf-em-barra-_JM" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock texto %}