{% extends "global/base.html" %}
{% block texto %} 


<section id="primeira">
  <section id="primeira">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <h3>
            O formato em colmeia e a estrutura dos espelhos foram projetados para permitir que o telescópio James Webb fosse dobrado e transportado com segurança dentro de um foguete. Uma vez no espaço, os espelhos se desdobram para formar a superfície refletora necessária para suas observações. Essa abordagem otimiza tanto a eficiência do design quanto a capacidade de transporte.
          </h3>
        </div>
        <div class="col">
                <img src="/static/global/img/curiosidade1.png" class="d-block w-100" alt="">
              </div>
            </div>
          </div>
        </div>
        
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <img src="/static/global/img/curiosidade2.png" class="d-block w-100" alt="">
            </div>
            <div class="col">
              <h3>
                Espécies Diversas: Existem mais de 20.000 espécies de abelhas conhecidas no mundo, variando em tamanho, cor e comportamento.
              </h3>
            </div>
                </div>
              </div>
            </div>

            <section id="primeira">
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <h1>
                      Papel das Abelhas Rainhas: A abelha rainha é a única fêmea fértil na colônia. Ela pode pôr até 2.000 ovos por dia durante a primavera e o verão.
                    </h1>
                  </div>
                  <div class="col">
                          <img src="/static/global/img/curiosidade3.png" class="d-block w-100" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="container text-center">
                    <div class="row">
                      <div class="col">
                        <img src="/static/global/images/senac1.png" class="d-block w-100" alt="">
                      </div>
                      <div class="col">
                        <h3>
                          Dança das Abelhas: As abelhas se comunicam entre si através de danças, como a "dança do oito", que indica a direção e a distância das fontes de alimento.
                        </h3>
                      </div>
                          </div>
                        </div>
                      </div>

                      <section id="primeira">
                        <div class="container text-center">
                          <div class="row">
                            <div class="col">
                              <h1>
                                Importância Ecológica: As abelhas são polinizadoras essenciais, contribuindo para cerca de um terço dos alimentos que consumimos, incluindo frutas, vegetais e nozes.
                              </h1>
                            </div>
                            <div class="col">
                                    <img src="/static/global/img/jw.webp" class="d-block w-100" alt="">
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <div class="container text-center">
                              <div class="row">
                                <div class="col">
                                  <img src="/static/global/images/senac1.png" class="d-block w-100" alt="">
                                </div>
                                <div class="col">
                                  <h3>
                                    Produção de Mel: As abelhas coletam néctar das flores e o transformam em mel. Para produzir 1 kg de mel, uma colônia precisa visitar cerca de 2 milhões de flores.
                                  </h3>
                                </div>
                                    </div>
                                  </div>
                                </div>

                                <section id="primeira">
                                  <div class="container text-center">
                                    <div class="row">
                                      <div class="col">
                                        <h1>
                                          Cores e Padrões: As abelhas podem ver cores que os humanos não conseguem, incluindo o ultravioleta. Isso as ajuda a localizar flores.
                                        </h1>
                                      </div>
                                      <div class="col">
                                              <img src="/static/global/img/jw.webp" class="d-block w-100" alt="">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      
                                      <div class="container text-center">
                                        <div class="row">
                                          <div class="col">
                                            <img src="/static/global/images/senac1.png" class="d-block w-100" alt="">
                                          </div>
                                          <div class="col">
                                            <h3>
                                              Temperatura da Colônia: As abelhas mantêm a temperatura da colônia em torno de 35°C. Elas se reúnem para gerar calor durante o inverno e ventilam a colmeia nos dias quentes.
                                            </h3>
                                          </div>
                                              </div>
                                            </div>
                                          </div>

                                          <section id="primeira">
                                            <div class="container text-center">
                                              <div class="row">
                                                <div class="col">
                                                  <h1>
                                                    Voo Rápido: Uma abelha pode voar a uma velocidade de até 24 km/h, o que é bastante rápido para o seu tamanho.
                                                  </h1>
                                                </div>
                                                <div class="col">
                                                        <img src="/static/global/img/jw.webp" class="d-block w-100" alt="">
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                
                                                <div class="container text-center">
                                                  <div class="row">
                                                    <div class="col">
                                                      <img src="/static/global/images/senac1.png" class="d-block w-100" alt="">
                                                    </div>
                                                    <div class="col">
                                                      <h3>
                                                        Ameaças à Sobrevivência: As abelhas enfrentam várias ameaças, incluindo pesticidas, perda de habitat e doenças, o que tem levado a um declínio alarmante em suas populações.
                                                      </h3>
                                                    </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                        


  </section>
</section>

{% endblock texto %}