{% extends 'global/base.html' %}
{% block texto %}
  <div class="container mt-5">
    <h1 class="text-center">Bombons</h1>
    <div class="row mt-4">
      <!-- Produto 1 -->
      <div class="col-md-4">
        <div class="card">
          <img src="/static/global/img/bombom1.webp" class="card-img-top" alt="Produto 1" />
          <div class="card-body">
            <h5 class="card-title">100g Bombom De Pólen E 100g Cera Mista Apis/asf Em Láminas.</h5>
            <p class="card-text">100g de bombom de pólen. 100g de cera mista Apis/Asf em laminas bem finas. 30g de potinhos para alimentação. A cera mista, Apis/Asf, é uma mistura entre as duas ceras, de abelha africanizada e a abelha sem ferrão, ela pode ser usada no processo de transferência, divisão e estações de mais frio, assim como o bombom de pólen, é importante pra ajudar as Asf em seu desenvolvimento, pôs com os desmatamentos não é fácil para elas encontrar esse recurso na natureza!</p>
            <p class="text-muted">Preço: R$ 96,00</p>
            <a href="https://produto.mercadolivre.com.br/MLB-1882687282-100g-bombom-de-polen-e-100g-cera-mista-apisasf-em-laminas-_JM" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <!-- Produto 2 -->
      <div class="col-md-4">
        <div class="card">
          <img src="/static/global/img/bombom2.webp" class="card-img-top" alt="Produto 2" />
          <div class="card-body">
            <h5 class="card-title">Bombom De Pólen E Cera Mista Apis/asf Em Lâminas</h5>
            <p class="card-text">100g de bombom de pólen. 100g de cera mista Apis/Asf em laminas bem finas.

              A cera mista, Apis/Asf, é uma mistura entre as duas ceras, de abelha africanizada e a abelha sem ferrão, ela pode ser usada no processo de transferência, divisão e estações de mais frio, assim como o bombom de pólen, é importante pra ajudar as Asf em seu desenvolvimento, pôs com os desmatamentos não é fácil para elas encontrar esse recurso na natureza!</p>
            <p class="text-muted">Preço: R$ 93,00</p>
            <a href="https://produto.mercadolivre.com.br/MLB-2082827941-bombom-de-polen-e-cera-mista-apisasf-em-lminas-_JM" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <!-- Produto 3 -->
      <div class="col-md-4">
        <div class="card">
          <img src="/static/global/img/bombom3.webp" class="card-img-top" alt="Produto 3" />
          <div class="card-body">
            <h5 class="card-title">Bombom De Pólen Para Abelhas Sem Ferrão, 400gr +frete Grátis</h5>
            <p class="card-text">Bombom de pólen é extremamente importante para a manutenção alimentar de seus enxames, durante todo ano, principalmente nas transferencias, divisões, e no periodo de escassez das flores.</p>
            <p class="text-muted">Preço: R$ 139,00</p>
            <a href="https://produto.mercadolivre.com.br/MLB-1398819275-bombom-de-polen-para-abelhas-sem-ferro-400gr-frete-gratis-_JM" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
