<footer>
    <div>
        <h3>Conecte-se com as Abelhas!</h3>
        <p>A preservação das abelhas é essencial para a biodiversidade e para o equilíbrio ambiental. Descubra como você
            pode contribuir para um mundo mais saudável e sustentável.</p>
        <p><strong>Apoie a causa!</strong> Seja parte da transformação para um planeta mais verde. Saber mais sobre
            projetos de conservação das abelhas e como você pode ajudar.</p>
    </div>

    <div>
        <h4>Links Rápidos:</h4>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'colmeia' %}">Colmeias</a> |
        <a href="{% url 'cera' %}">Cera</a> |
        <a href="{% url 'bombom' %}">Bombom</a> |
        <a href="{% url 'enxame' %}">Enxames</a>
    </div>

    <div>
        <p>&copy; 2025 Todos os direitos reservados | <strong>Meliponário Santa Izabel</strong></p>
    </div>
</footer>