{% extends "global/base.html" %}
{% block texto %} 

<div class="container mt-5">
    <h1 class="text-center">Colmeias</h1>
    <div class="row mt-4">
        
        <!-- Produto 1 -->
        <div class="col-md-4">
            <div class="card">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/static/global/img/v1.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/static/global/img/v4.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>                
                <div class="card-body">
                    <h5 class="card-title">Bombom De Pólen E Cera Mista Apis/asf Em Lâminas</h5>
                    <p class="card-text">100g de bombom de pólen.
                        100g de cera mista Apis/Asf em laminas bem finas.
                        
                        A cera mista, Apis/Asf, é uma mistura entre as duas ceras, de abelha africanizada e a abelha sem ferrão, ela pode ser usada no processo de transferência, divisão e estações de mais frio, assim como o bombom de pólen, é importante pra ajudar as Asf em seu desenvolvimento, pois com os desmatamentos não é fácil para elas encontrar esse recurso na natureza!</p>
                    <p class="text-muted">Preço: R$ 93,00</p>
                    <a href="https://produto.mercadolivre.com.br/MLB-2082827941-bombom-de-polen-e-cera-mista-apisasf-em-lminas-_JM" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <!-- Produto 2 (Cópia do Produto 1) -->
        <div class="col-md-4">
            <div class="card">
                <div id="carouselExampleAutoplaying2" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/static/global/img/v5.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/static/global/img/v4.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying2" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying2" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>                
                <div class="card-body">
                    <h5 class="card-title">Bombom De Pólen E Cera Mista Apis/asf Em Lâminas</h5>
                    <p class="card-text">100g de bombom de pólen.
                        100g de cera mista Apis/Asf em laminas bem finas.
                        
                        A cera mista, Apis/Asf, é uma mistura entre as duas ceras, de abelha africanizada e a abelha sem ferrão, ela pode ser usada no processo de transferência, divisão e estações de mais frio, assim como o bombom de pólen, é importante pra ajudar as Asf em seu desenvolvimento, pois com os desmatamentos não é fácil para elas encontrar esse recurso na natureza!</p>
                    <p class="text-muted">Preço: R$ 93,00</p>
                    <a href="https://produto.mercadolivre.com.br/MLB-2082827941-bombom-de-polen-e-cera-mista-apisasf-em-lminas-_JM" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <!-- Produto 3 (Cópia do Produto 1) -->
        <div class="col-md-4">
            <div class="card">
                <div id="carouselExampleAutoplaying3" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/static/global/img/v1.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/static/global/img/v4.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying3" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying3" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>                
                <div class="card-body">
                    <h5 class="card-title">Bombom De Pólen E Cera Mista Apis/asf Em Lâminas</h5>
                    <p class="card-text">100g de bombom de pólen.
                        100g de cera mista Apis/Asf em laminas bem finas.
                        
                        A cera mista, Apis/Asf, é uma mistura entre as duas ceras, de abelha africanizada e a abelha sem ferrão, ela pode ser usada no processo de transferência, divisão e estações de mais frio, assim como o bombom de pólen, é importante pra ajudar as Asf em seu desenvolvimento, pois com os desmatamentos não é fácil para elas encontrar esse recurso na natureza!</p>
                    <p class="text-muted">Preço: R$ 93,00</p>
                    <a href="https://produto.mercadolivre.com.br/MLB-2082827941-bombom-de-polen-e-cera-mista-apisasf-em-lminas-_JM" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock texto %}
